In [1]:
import pandas as pd
import numpy as np

### Incorrect df['one']==np.nan

In [2]:
# NaT vs NaN

In [3]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                  columns=['one', 'two', 'three'])
df['timestampe'] = pd.Timestamp('2018-3-12')

In [4]:
df

        one       two     three timestampe
a -1.956240  0.947542 -0.179232 2018-03-12
c -0.918100  0.041325 -0.430477 2018-03-12
e -0.282000  0.513554  1.064578 2018-03-12
f -0.659600 -0.885085  2.037152 2018-03-12
h -1.383201 -0.591766  0.272491 2018-03-12

In [5]:
df.loc[['e'],:]=np.nan

In [6]:
df.loc['e','timestampe']==np.nan

False

### None vs NaN, in Numerical None becomes NaN, in others None is None

In [7]:
s = pd.Series([1,2,3])
s[0]=None

In [8]:
s

0    NaN
1    2.0
2    3.0
dtype: float64

In [9]:
s = pd.Series(['a','b','c'])
s[0] = None

In [10]:
s

0    None
1       b
2       c
dtype: object

In [11]:
s = pd.Series([1.2,2.3,3.4])
s[0] = None
s

0    NaN
1    2.3
2    3.4
dtype: float64

### The product of an empty or all-NA Series or column of a DataFrame is 1 after v0.22

In [12]:
pd.Series([np.nan,np.nan]).sum()

nan

In [13]:
pd.Series([np.nan,np.nan]).prod()

nan

In [14]:
pd.__version__

'0.21.1'

### nan are auto excluded in groupby

In [15]:
dff = pd.DataFrame(np.random.randn(10,3), columns=list('ABC'))

In [16]:
dff.mean()

A   -0.802613
B   -0.197127
C    0.074500
dtype: float64

In [17]:
dff['D'] = np.nan

In [18]:
dff.dropna(axis=0)

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [19]:
index = pd.date_range('2018-3-15',periods=10)

In [20]:
index

DatetimeIndex(['2018-03-15', '2018-03-16', '2018-03-17', '2018-03-18',
               '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
               '2018-03-23', '2018-03-24'],
              dtype='datetime64[ns]', freq='D')

In [21]:
dff.index=index

In [22]:
dff

                   A         B         C   D
2018-03-15 -0.598208 -0.516087  0.211855 NaN
2018-03-16 -1.403167 -0.044055  0.096705 NaN
2018-03-17 -0.774539  0.324776  0.500993 NaN
2018-03-18 -0.973097 -0.035434 -0.103470 NaN
2018-03-19 -0.858275  0.054377  0.333103 NaN
2018-03-20 -0.187893  0.210719 -1.315192 NaN
2018-03-21 -1.045463 -0.434481  0.198717 NaN
2018-03-22 -1.459336 -0.435747 -0.043613 NaN
2018-03-23 -1.074063 -1.049148  0.156548 NaN
2018-03-24  0.347909 -0.046192  0.709356 NaN

In [23]:
dff2 = pd.Series([1,np.nan,10])

In [24]:
dff2.interpolate()

0     1.0
1     5.5
2    10.0
dtype: float64

In [25]:
dff2.interpolate(method='values')

0     1.0
1     5.5
2    10.0
dtype: float64

### interpolate is different ways(methods) to fill missing data

In [26]:
dff2.loc[3]=12

In [27]:
dff2.interpolate(method='polynomial', order=2)

0     1.000000
1     6.333333
2    10.000000
3    12.000000
dtype: float64

In [28]:
dff2.loc[4]=-18

In [29]:
dff2.interpolate(method='polynomial', order=3)

0     1.00
1    -1.25
2    10.00
3    12.00
4   -18.00
dtype: float64

In [30]:
dff2.interpolate(method='pchip')

0     1.000000
1     6.377732
2    10.000000
3    12.000000
4   -18.000000
dtype: float64

In [31]:
dff2.interpolate(method='spline',order=2)

0     1.000000
1     6.693956
2    10.000000
3    12.000000
4   -18.000000
dtype: float64

In [32]:
ser = pd.Series(np.sort(np.random.uniform(size=100)))
ser

0     0.001563
1     0.004189
2     0.006222
3     0.030296
4     0.042083
5     0.043091
6     0.045257
7     0.045739
8     0.053105
9     0.067838
10    0.068152
11    0.083535
12    0.100801
13    0.101011
14    0.115495
15    0.119389
16    0.121420
17    0.126791
18    0.129608
19    0.138347
20    0.155929
21    0.159015
22    0.188087
23    0.191148
24    0.194797
25    0.195445
26    0.198769
27    0.199992
28    0.200896
29    0.208578
        ...
70    0.645249
71    0.647405
72    0.652760
73    0.666144
74    0.675204
75    0.680083
76    0.697946
77    0.705297
78    0.741079
79    0.746909
80    0.774690
81    0.789637
82    0.791654
83    0.800393
84    0.802457
85    0.811719
86    0.812956
87    0.824969
88    0.843708
89    0.866682
90    0.878429
91    0.887963
92    0.901912
93    0.931709
94    0.960625
95    0.961465
96    0.968296
97    0.977039
98    0.981038
99    0.990837
Length: 100, dtype: float64

In [33]:
ser = pd.Series([np.nan, np.nan, 5, np.nan, np.nan, np.nan, 13, np.nan, np.nan])

In [34]:
ser

0     NaN
1     NaN
2     5.0
3     NaN
4     NaN
5     NaN
6    13.0
7     NaN
8     NaN
dtype: float64

In [35]:
ser.interpolate(limit=1)

0     NaN
1     NaN
2     5.0
3     7.0
4     NaN
5     NaN
6    13.0
7    13.0
8     NaN
dtype: float64

In [36]:
ser.interpolate()

0     NaN
1     NaN
2     5.0
3     7.0
4     9.0
5    11.0
6    13.0
7    13.0
8    13.0
dtype: float64

In [37]:
ser.interpolate(limit=1, limit_direction='both')

0     NaN
1     5.0
2     5.0
3     7.0
4     NaN
5    11.0
6    13.0
7    13.0
8     NaN
dtype: float64

In [38]:
ser.interpolate(limit_direction='both')

0     5.0
1     5.0
2     5.0
3     7.0
4     9.0
5    11.0
6    13.0
7    13.0
8    13.0
dtype: float64

In [39]:
df = pd.DataFrame({'a': [0, 1, 2, 3, 4], 'b': [5, 6, 7, 8, 9]})

In [41]:
df.replace({'a':0,'b':9},3)

   a  b
0  3  5
1  1  6
2  2  7
3  3  8
4  4  3

In [42]:
s = pd.Series(['a','b','c','d'])

In [43]:
s

0    a
1    b
2    c
3    d
dtype: object

In [45]:
s.replace({'a':'e'})

0    e
1    b
2    c
3    d
dtype: object

In [48]:
s.replace(['b','c'],method='ffill')

0    a
1    a
2    a
3    d
dtype: object

### replace is dealing with data never with index!!!

In [49]:
s.replace(['b','c'],['e','w'])

0    a
1    e
2    w
3    d
dtype: object

# regular expression

In [56]:
import re
re.match('ab?','ab')[0]

'ab'

In [58]:
re.match('<.*>','<e><f>gh')[0]

'<e><f>'

In [71]:
re.findall('<.f*>','<e><fff>gh')

['<e>', '<fff>']

In [75]:
re.findall('ab??','abb')

['a']

In [76]:
re.findall('a{3,5}','aaaaa')

['aaaaa']

In [77]:
re.findall('a{3,5}?','aaaaa')

['aaa']

In [78]:
# set

In [82]:
re.findall('[a-z][a-z]','abcd')

['ab', 'cd']

In [83]:
re.match('[a-z][a-z]','abcd')

In [86]:
re.findall('[^a]','abcd')

['b', 'c', 'd']

In [87]:
re.findall('(?i)[a-z]','A')

['A']

In [88]:
re.findall('[a-z]','A')

[]

In [89]:
s = pd.Series(np.random.randn(5), index=[0, 2, 4, 6, 7])

In [90]:
reindexed = s.reindex(list(range(8))).fillna(0)

In [91]:
reindexed

0    1.957385
1    0.000000
2    0.719934
3    0.000000
4    1.189820
5    0.000000
6    0.867391
7   -0.033662
dtype: float64