In [64]:
import pandas as pd
groceries = pd.Series(data=[1,2,"Yes",'No'],index=['eggs','tomato','milk','butter'])

In [65]:
groceries

eggs        1
tomato      2
milk      Yes
butter     No
dtype: object

In [66]:
groceries.shape

(4,)

In [67]:
groceries.ndim

1

In [68]:
groceries.size

4

In [69]:
'eggs' in groceries

True

In [70]:
groceries.loc['eggs']

1

In [71]:
groceries.iloc[[1,2]]

tomato      2
milk      Yes
dtype: object

In [72]:
groceries['TUTU'] = 3

In [73]:
groceries

eggs        1
tomato      2
milk      Yes
butter     No
TUTU        3
dtype: object

In [74]:
groceries['eggs']  = 3
groceries

eggs        3
tomato      2
milk      Yes
butter     No
TUTU        3
dtype: object

In [75]:
groceries.drop('eggs',inplace = True)
groceries

tomato      2
milk      Yes
butter     No
TUTU        3
dtype: object

In [76]:
print(groceries[[1,2]])

groceries[['milk','TUTU']]

milk      Yes
butter     No
dtype: object

milk    Yes
TUTU      3
dtype: object

In [77]:
# math
groceries = pd.Series(data=[1,2,3,4,5],index=['apple','pear','banana','orange','grape'])

In [78]:
groceries+1

apple     2
pear      3
banana    4
orange    5
grape     6
dtype: int64

In [79]:
groceries*2

apple      2
pear       4
banana     6
orange     8
grape     10
dtype: int64

In [80]:
import numpy as np
np.exp(groceries)

apple       2.718282
pear        7.389056
banana     20.085537
orange     54.598150
grape     148.413159
dtype: float64

In [81]:
# dataframe
Bob = groceries
Alice = pd.Series(data=[1,3,5,7,9],index=['apple','pear','banana','orange','grape'])
df = {
    'Bob':Bob,
    'Alice':Alice
}
bk =  pd.DataFrame(df)

In [82]:
print(bk.values)
print(bk.index)
print(bk.columns)

[[1 1]
 [2 3]
 [3 5]
 [4 7]
 [5 9]]
Index(['apple', 'pear', 'banana', 'orange', 'grape'], dtype='object')
Index(['Bob', 'Alice'], dtype='object')

In [83]:
print(bk.shape)
print(bk.ndim)
print(bk.size)

(5, 2)
2
10

In [84]:
Bob_shopcart = pd.DataFrame(Bob,columns = ['Bob'])

In [85]:
print(Bob_shopcart)

        Bob
apple     1
pear      2
banana    3
orange    4
grape     5

In [86]:
print(bk)

        Bob  Alice
apple     1      1
pear      2      3
banana    3      5
orange    4      7
grape     5      9

In [87]:
print(bk.T)

       apple  pear  banana  orange  grape
Bob        1     2       3       4      5
Alice      1     3       5       7      9

In [89]:
# bkt=bk
# print(bkt)

print(bk)
bk = bk.T
print(bk)
item = pd.DataFrame(data = [{"apple":2,'pear':4,"banana":8,"orange":10,"grape":12}],index = ['Seri'])
print(item)
bkt = bkt.append(item)

        Bob  Alice
apple     1      1
pear      2      3
banana    3      5
orange    4      7
grape     5      9
       apple  pear  banana  orange  grape
Bob        1     2       3       4      5
Alice      1     3       5       7      9

In [61]:
bk['KiWi']=bk['pear']

In [62]:
bk

       apple  pear  banana  orange  grape  KiWi
Bob        1     2       3       4      5     2
Alice      1     3       5       7      9     3

In [63]:
bkt

       KiWi  apple  banana  grape  orange  pear
Bob     2.0      1       3      5       4     2
Alice   3.0      1       5      9       7     3
Seri    NaN      2       8     12      10     4

In [90]:
# dropna will drop the null value
bk.dropna(axis = 0)
bk.fillna(0)
# forward fill
bk.fillna(method='ffill',axis=0)
# backward fill
bk.fillna(method='backfill',axis=1)

       apple  pear  banana  orange  grape
Bob        1     2       3       4      5
Alice      1     3       5       7      9

In [110]:
pd.set_option('precision', 1)

books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])
user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])

dat = {'Book Title' : books,
       'Author' : authors,
       'User 1' : user_1,
       'User 2' : user_2,
       'User 3' : user_3,
       'User 4' : user_4}
book_ratings = pd.DataFrame(dat)

In [111]:
print(book_ratings)

            Book Title               Author  User 1  User 2  User 3  User 4
0   Great Expectations      Charles Dickens     3.2     5.0     2.0     4.0
1      Of Mice and Men       John Steinbeck     NaN     1.3     2.3     3.5
2     Romeo and Juliet  William Shakespeare     2.5     4.0     NaN     4.0
3     The Time Machine          H. G. Wells     NaN     3.8     4.0     5.0
4  Alice in Wonderland        Lewis Carroll     NaN     NaN     NaN     4.2

In [112]:
book_ratings.fillna(book_ratings.mean(axis = 1), inplace = True)

In [113]:
print(book_ratings)

            Book Title               Author  User 1  User 2  User 3  User 4
0   Great Expectations      Charles Dickens     3.2     5.0     2.0     4.0
1      Of Mice and Men       John Steinbeck     NaN     1.3     2.3     3.5
2     Romeo and Juliet  William Shakespeare     2.5     4.0     NaN     4.0
3     The Time Machine          H. G. Wells     NaN     3.8     4.0     5.0
4  Alice in Wonderland        Lewis Carroll     NaN     NaN     NaN     4.2

In [109]:
book_ratings.mean(axis=1)

0    3.5
1    2.5
2    3.3
3    3.9
4    3.3
dtype: float64