In [1]:
import cvxpy as cvx

In [9]:
import cvxpy as cp
import numpy as np

# Problem data.
m = 3
n = 2
np.random.seed(1)
A = np.random.randn(m, n)
b = np.random.randn(m)
print('A:',A)
print('b:',b)
# Construct the problem.
x = cp.Variable(n)
objective = cp.Minimize(cp.sum_squares(A*x - b))
constraints = [0 <= x, x <= 1,sum(x)==2]
prob = cp.Problem(objective, constraints)

# The optimal objective value is returned by `prob.solve()`.
result = prob.solve()
# The optimal value for x is stored in `x.value`.
print('x.value:',x.value)
# The optimal Lagrange multiplier for a constraint is stored in
# `constraint.dual_value`.
print('last:',constraints[0].dual_value)

A: [[ 1.62434536 -0.61175641]
 [-0.52817175 -1.07296862]
 [ 0.86540763 -2.3015387 ]]
b: [ 1.74481176 -0.7612069   0.3190391 ]
x.value: [1. 1.]
last: [-1.46444563 -1.67986695]

In [10]:
import pandas as pd

In [11]:
a = pd.DataFrame([[1,2],[3,-4]])

In [12]:
a.mean()

0    2.0
1   -1.0
dtype: float64

In [13]:
abs(a)

   0  1
0  1  2
1  3  4

In [14]:
sum(a)

1

In [15]:
a.sum()

0    4
1   -2
dtype: int64

In [16]:
a.abs()

   0  1
0  1  2
1  3  4

In [17]:
a.abs().sum()

0    4
1    6
dtype: int64

In [18]:
a-a.mean()

     0    1
0 -1.0  3.0
1  1.0 -3.0

In [19]:
(a-a.mean())/a.abs().sum()

      0    1
0 -0.25  0.5
1  0.25 -0.5