In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(
      {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})

In [3]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [4]:
# if AAA>=5 BBB is -1
df.AAA>=5

0    False
1     True
2     True
3     True
Name: AAA, dtype: bool

In [5]:
df.loc[df.AAA>=5,'BBB']=-1

In [6]:
df.loc[[True,True,True,True],'BBB']

0    10
1    -1
2    -1
3    -1
Name: BBB, dtype: int64

In [7]:
df.loc[df.AAA>=5,'BBB']=[1,2,3]

In [8]:
df

   AAA  BBB  CCC
0    4   10  100
1    5    1   50
2    6    2  -30
3    7    3  -50

In [9]:
df_mask = pd.DataFrame({'AAA':[True]*4,'BBB':[True,False,True,True]})

In [10]:
df1 = -df

In [11]:
df.where(df_mask,df1)

   AAA  BBB  CCC
0    4   10 -100
1    5   -1  -50
2    6    2   30
3    7    3   50

In [12]:
df

   AAA  BBB  CCC
0    4   10  100
1    5    1   50
2    6    2  -30
3    7    3  -50

In [13]:
df.loc[df.AAA>=5]

   AAA  BBB  CCC
1    5    1   50
2    6    2  -30
3    7    3  -50

In [14]:
df.loc[df.AAA<=5]

   AAA  BBB  CCC
0    4   10  100
1    5    1   50

In [15]:
df['AAA']

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [16]:
df.loc[0]

AAA      4
BBB     10
CCC    100
Name: 0, dtype: int64

In [17]:
df.index = pd.Index(['a','b','c','d'])

In [18]:
df

   AAA  BBB  CCC
a    4   10  100
b    5    1   50
c    6    2  -30
d    7    3  -50

In [19]:
df.loc['a']

AAA      4
BBB     10
CCC    100
Name: a, dtype: int64

In [20]:
df.iloc[1,1]

1

In [21]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA']=1

In [22]:
df

   AAA  BBB  CCC
a    1   10  100
b    5    1   50
c    6    2  -30
d    7    3  -50

In [23]:
df['CCC']=-1

In [24]:
df

   AAA  BBB  CCC
a    1   10   -1
b    5    1   -1
c    6    2   -1
d    7    3   -1

In [30]:
df['AAA'] = [4,5,6,7]

In [33]:
df.loc['a'] = [1,2,3]

In [34]:
df

   AAA  BBB  CCC
a    1    2    3
b    5    1   -1
c    6    2   -1
d    7    3   -1

In [29]:
df.iloc[0,1]

10

In [35]:
df.AAA = [1,2,3,4]

In [36]:
df

   AAA  BBB  CCC
a    1    2    3
b    2    1   -1
c    3    2   -1
d    4    3   -1

In [43]:
df.loc['a'].at['AAA']

1

In [44]:
df.loc['a','AAA']

1

In [45]:
df.at['a','AAA']

1

In [47]:
# loc->row at->check type
df.at['a','AAA']

1

In [48]:
df.iat[1,1]

1

In [49]:
df.loc['a']

AAA    1
BBB    2
CCC    3
Name: a, dtype: int64

In [51]:
df.AAA<3

a     True
b     True
c    False
d    False
Name: AAA, dtype: bool

In [57]:
df.loc[df.AAA<3]=1

In [56]:
df.loc[[True,False,True]]

   AAA  BBB  CCC
a    1    2    3
c    3    2   -1

In [58]:
df

   AAA  BBB  CCC
a    1    1    1
b    1    1    1
c    3    2   -1
d    4    3   -1

In [59]:
df = pd.DataFrame(
     {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]});

In [60]:
aValue = 43.0
(df.CCC-aValue).abs().argsort()

0    1
1    0
2    2
3    3
Name: CCC, dtype: int64

In [61]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [62]:
df.loc[[1,0,2,3]]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [63]:
df.iloc[[1,0,2,3]]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [64]:
df.loc[[True,True],[True,True]]

   AAA  BBB
0    4   10
1    5   20

In [65]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [66]:
df.loc[[0,1],['AAA','CCC']]

   AAA  CCC
0    4  100
1    5   50

In [67]:
df.iloc[[1,3],[1,2]]

   BBB  CCC
1   20   50
3   40  -50

In [68]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [69]:
df[['AAA','BBB']] = df[['BBB','AAA']].values

In [71]:
df[['BBB','AAA']]

   BBB  AAA
0    4   10
1    5   20
2    6   30
3    7   40

In [72]:
df

   AAA  BBB  CCC
0   10    4  100
1   20    5   50
2   30    6  -30
3   40    7  -50

In [73]:
df[['AAA','BBB']] = df[['BBB','AAA']]

In [74]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [80]:
class Loc():
    def __init__(self,ls):
        self.ls = ls
        
    def __getitem__(self,idx):
        return self.ls[idx]
    def __setitem__(self,idx,value):
        self.ls[idx]=value

In [81]:
loc = Loc([1,2,3,4,5])

In [82]:
loc[2]

3

In [83]:
loc[2] = 5

In [84]:
loc[2]

5

In [85]:
df = pd.DataFrame(
      {'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]});

In [86]:
cate = {1:'alpha',2:'beta',3:'gama'}

In [87]:
df.applymap(cate.get)

     AAA    BBB    CCC
0  alpha  alpha   beta
1   beta  alpha  alpha
2  alpha   beta   gama
3   gama   beta  alpha

In [92]:
new_columes = [col+'_new' for col in df.columns]

In [93]:
new_columes

['AAA_new', 'BBB_new', 'CCC_new']

In [94]:
df[new_columes]=df.applymap(cate.get)

In [95]:
df

   AAA  BBB  CCC AAA_new BBB_new CCC_new
0    1    1    2   alpha   alpha    beta
1    2    1    1    beta   alpha   alpha
2    1    2    3   alpha    beta    gama
3    3    2    1    gama    beta   alpha

In [96]:
df = pd.DataFrame(
      {'AAA' : [1,1,1,2,2,2,3,3], 'BBB' : [2,1,3,4,5,1,2,3]})

In [97]:
df.groupby("AAA")["BBB"].idxmin()

AAA
1    1
2    5
3    6
Name: BBB, dtype: int64

In [98]:
df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

In [104]:
df.groupby("AAA")['BBB']

In [106]:
df['BBB'].idxmin()

1

In [107]:
df.groupby('AAA')['BBB'].idxmin()

AAA
1    1
2    5
3    6
Name: BBB, dtype: int64

In [111]:
df.loc[df.groupby('AAA')['BBB'].idxmin(),['BBB']]

   BBB
1    1
5    1
6    2

In [112]:
df = pd.DataFrame({'row' : [0,1,2],
                    'One_X' : [1.1,1.1,1.1],
                   'One_Y' : [1.2,1.2,1.2],
                    'Two_X' : [1.11,1.11,1.11],
                    'Two_Y' : [1.22,1.22,1.22]});

In [114]:
coords = [('AA','one'),('AA','six'),('BB','one'),('BB','two'),('BB','six')]

In [115]:
index = pd.MultiIndex.from_tuples(coords)
df = pd.DataFrame([11,22,33,44,55],index,['MyData'])

In [116]:
df

        MyData
AA one      11
   six      22
BB one      33
   two      44
   six      55

In [117]:
df.loc['BB']

     MyData
one      33
two      44
six      55

In [122]:
df.xs('six',axis=0,level=1)

    MyData
AA      22
BB      55