In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series(np.random.randn(1000))
s[2:-2] = np.nan
s.nbytes

8000

In [6]:
s1 = s.to_sparse()
s1.nbytes

32

In [8]:
s1.to_dense().nbytes

8000

In [17]:
s1 = pd.Series([i//3 for i in range(3,13)])
s1

0    1
1    1
2    1
3    2
4    2
5    2
6    3
7    3
8    3
9    4
dtype: int64

In [18]:
s1.to_sparse()

0    1
1    1
2    1
3    2
4    2
5    2
6    3
7    3
8    3
9    4
dtype: int64
BlockIndex
Block locations: array([0], dtype=int32)
Block lengths: array([10], dtype=int32)

In [19]:
s1.nbytes

80

In [21]:
s1.to_sparse()

0    1
1    1
2    1
3    2
4    2
5    2
6    3
7    3
8    3
9    4
dtype: int64
BlockIndex
Block locations: array([0], dtype=int32)
Block lengths: array([10], dtype=int32)

In [22]:
from scipy.sparse import csr_matrix

In [27]:
a = np.random.randn(50,5)
a[4:40,:]=0

In [28]:
csred_m = csr_matrix(a)

In [29]:
csredp = pd.SparseDataFrame(csred_m)

In [33]:
csredp.to_coo().todense()

matrix([[ 0.07739041, -0.70601347,  0.09684334,  0.37206462,  2.28494428],
        [-1.36406808,  0.19619615,  0.6189344 ,  0.78752979, -0.70555072],
        [ 0.08801262,  1.21497487, -0.96236972,  1.23301112, -0.58695342],
        [-0.34542231, -0.55961055, -0.05950294,  0.36533173, -0.27005743],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
        [-0.56634552,  0.30914321, -2.25773239,  0.16740288, -0.7884988 ],
        [ 0.13273013, -0.34791606, -0.33830886, -0.967475  ,  1.05225097],
        [-0.36037721, -0.34622751,  0.90961904, -0.72680195,  0.28279266],
        [ 0.40965244,  0.25739233,  0.16227675, -0.14755923,  0.64588414],
        [ 0.98566239,  0.92712907, -0.41759364, -0.22440247,  0.04658817],
        [-0.3077665 , -0.8387218 ,  0.4317762 , -1.62823957,  0.13165509],
        [-0.28876187,  0.22494474,  1.35782632,  0.91712738, -2.10616281],
        [ 1.34126451, -0.05496725,  1.12432673,  1.03120713,  0.22677308],
        [-0.4241544 ,  0.82791649, -0.2683187 ,  1.07943771,  0.06806578],
        [-0.99326367,  1.01631411,  0.82827281, -0.32952665, -1.34063872]])

In [35]:
from scipy import sparse
A = sparse.coo_matrix(([3.0, 1.0, 2.0], ([1, 0, 0], [0, 2, 3])),
                       shape=(3, 4))

In [37]:
A

<3x4 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in COOrdinate format>

In [38]:
ss = pd.SparseSeries.from_coo(A)

In [41]:
ss

0  2    1.0
   3    2.0
1  0    3.0
dtype: float64
BlockIndex
Block locations: array([0], dtype=int32)
Block lengths: array([3], dtype=int32)

In [45]:
df = pd.DataFrame(np.random.randn(1000,4))

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
0    1000 non-null float64
1    1000 non-null float64
2    1000 non-null float64
3    1000 non-null float64
dtypes: float64(4)
memory usage: 31.3 KB

In [47]:
df1 = pd.DataFrame(np.random.randint(1,1000,4000).reshape(1000,4))

In [51]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
0    1000 non-null float64
1    1000 non-null float64
2    1000 non-null float64
3    1000 non-null float64
dtypes: float64(4)
memory usage: 31.3 KB

In [52]:
df.memory_usage()

Index      80
0        8000
1        8000
2        8000
3        8000
dtype: int64

In [56]:
pd.read_clipboard()

Empty DataFrame
Columns: [pandas.read_clipboard]
Index: []

In [57]:
pd.read_clipboard()

Empty DataFrame
Columns: [users:, Magics, are, specific, to, and, provided, by, the, IPython, kernel., Whether, Magics.1, are.1, available, on, a, kernel, is, a.1, decision, that, is.1, made, by.1, the.1, kernel.1, developer, on.1, a.2, per-kernel, basis., To, work, properly,, Magics.2, must, use, a.3, syntax, element, which, is.2, not, valid, in, the.2, underlying, language., For, example,, the.3, IPython.1, kernel.2, uses, the.4, %, syntax.1, element.1, for, Magics.3, as, %.1, is.3, not.1, a.4, valid.1, unary, operator, in.1, Python]
Index: []

[0 rows x 71 columns]