In [1]:
import pandas as pd
import numpy as np

In [4]:
rng = pd.date_range('3/16/2018', periods=100,freq='H')

In [6]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [8]:
converted = ts.asfreq('45Min', method='pad')

In [10]:
ts.resample('D').mean()

2018-03-16   -0.210334
2018-03-17   -0.228195
2018-03-18   -0.038012
2018-03-19    0.418477
2018-03-20    1.173562
Freq: D, dtype: float64

In [30]:
pd.Timestamp('1690-9-1')
import datetime
pd.Period('1990-1-1','M')

Period('1990-01', 'M')

In [31]:
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')]
ts = pd.Series(np.random.randn(3),index=dates)

In [32]:
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [33]:
ts

2012-05-01    1.139190
2012-05-02   -0.010307
2012-05-03    0.827394
dtype: float64

In [34]:
periods = [pd.Period('2012-01'), pd.Period('2012-02'), pd.Period('2012-03')]
ts = pd.Series(np.random.randn(3),index=periods)

In [35]:
ts

2012-01   -0.149089
2012-02    0.641716
2012-03    0.003394
Freq: M, dtype: float64

In [36]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None,'2005/11/23', '2010.12.31']))

0   2009-07-31
1   2010-01-10
2          NaT
3   2005-11-23
4   2010-12-31
dtype: datetime64[ns]

In [37]:
pd.to_datetime('04-03-2016',dayfirst=True)

Timestamp('2016-03-04 00:00:00')

In [41]:
pd.to_datetime('2010/11/12',format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [45]:
pd.to_datetime(['2009/07/31', 'asd'],'coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

In [51]:
pd.to_datetime([1499720105, 1349806505, 1349892905,
                 1349979305, 1350065705], unit='ns')

DatetimeIndex(['1970-01-01 00:00:01.499720105',
               '1970-01-01 00:00:01.349806505',
               '1970-01-01 00:00:01.349892905',
               '1970-01-01 00:00:01.349979305',
               '1970-01-01 00:00:01.350065705'],
              dtype='datetime64[ns]', freq=None)

In [54]:
stamps = pd.date_range('2012-10-08 18:15:05', periods=4, freq='D')
(stamps - pd.Timestamp(1970/1/1))//pd.Timedelta('1s')

Int64Index([1349720104, 1349806504, 1349892904, 1349979304], dtype='int64')

In [59]:
pd.to_datetime([30, 35, 40], unit='D')

DatetimeIndex(['1970-01-31', '1970-02-05', '1970-02-10'], dtype='datetime64[ns]', freq=None)

In [60]:
from datetime import datetime

In [62]:
s = datetime(2018, 1, 1)
e = datetime(2019,1,1)

In [64]:
len(pd.bdate_range(s,e))

262

In [69]:
a = pd.bdate_range(s,periods=10,freq='W-TUE')

In [71]:
a

DatetimeIndex(['2018-01-02', '2018-01-09', '2018-01-16', '2018-01-23',
               '2018-01-30', '2018-02-06', '2018-02-13', '2018-02-20',
               '2018-02-27', '2018-03-06'],
              dtype='datetime64[ns]', freq='W-TUE')

In [74]:
s=pd.Series(np.random.randn(len(a)),index=a)

In [76]:
s['2018-01']

2018-01-02   -1.480679
2018-01-09    0.406662
2018-01-16    0.406202
2018-01-23   -0.725753
2018-01-30    0.791455
Freq: W-TUE, dtype: float64

In [81]:
s['2018-01':'2018-01']

2018-01-02   -1.480679
2018-01-09    0.406662
2018-01-16    0.406202
2018-01-23   -0.725753
2018-01-30    0.791455
Freq: W-TUE, dtype: float64

In [82]:
dft2 = pd.DataFrame(np.random.randn(20, 1),
                        columns=['A'],
                        index=pd.MultiIndex.from_product([pd.date_range('20130101',
                                                                        periods=10,
                                                                        freq='12H'),
                                                         ['a', 'b']]))

In [87]:
idx = pd.IndexSlice
dft2

                              A
2013-01-01 00:00:00 a  0.889763
                    b -0.028306
2013-01-01 12:00:00 a  0.549193
                    b -0.736226
2013-01-02 00:00:00 a  0.910082
                    b -0.100308
2013-01-02 12:00:00 a  1.852374
                    b  0.151423
2013-01-03 00:00:00 a  0.312479
                    b -1.863015
2013-01-03 12:00:00 a  0.316897
                    b  1.136179
2013-01-04 00:00:00 a -0.077225
                    b  0.789618
2013-01-04 12:00:00 a -0.669661
                    b  2.333680
2013-01-05 00:00:00 a -1.358255
                    b -1.156184
2013-01-05 12:00:00 a  0.162898
                    b  2.730758

In [95]:
dft2.loc[idx[:,'a'],['A']]

                              A
2013-01-01 00:00:00 a  0.889763
2013-01-01 12:00:00 a  0.549193
2013-01-02 00:00:00 a  0.910082
2013-01-02 12:00:00 a  1.852374
2013-01-03 00:00:00 a  0.312479
2013-01-03 12:00:00 a  0.316897
2013-01-04 00:00:00 a -0.077225
2013-01-04 12:00:00 a -0.669661
2013-01-05 00:00:00 a -1.358255
2013-01-05 12:00:00 a  0.162898

In [96]:
series_monthly = pd.Series([1, 2, 3],
                              pd.DatetimeIndex(['2011-12',
                                                '2012-01',
                                                '2012-02']))

In [97]:
series_monthly.index.resolution

'day'

In [100]:
dft2.shift(-2)

                              A
2013-01-01 00:00:00 a  0.549193
                    b -0.736226
2013-01-01 12:00:00 a  0.910082
                    b -0.100308
2013-01-02 00:00:00 a  1.852374
                    b  0.151423
2013-01-02 12:00:00 a  0.312479
                    b -1.863015
2013-01-03 00:00:00 a  0.316897
                    b  1.136179
2013-01-03 12:00:00 a -0.077225
                    b  0.789618
2013-01-04 00:00:00 a -0.669661
                    b  2.333680
2013-01-04 12:00:00 a -1.358255
                    b -1.156184
2013-01-05 00:00:00 a  0.162898
                    b  2.730758
2013-01-05 12:00:00 a       NaN
                    b       NaN

In [99]:
dft2

                              A
2013-01-01 00:00:00 a  0.889763
                    b -0.028306
2013-01-01 12:00:00 a  0.549193
                    b -0.736226
2013-01-02 00:00:00 a  0.910082
                    b -0.100308
2013-01-02 12:00:00 a  1.852374
                    b  0.151423
2013-01-03 00:00:00 a  0.312479
                    b -1.863015
2013-01-03 12:00:00 a  0.316897
                    b  1.136179
2013-01-04 00:00:00 a -0.077225
                    b  0.789618
2013-01-04 12:00:00 a -0.669661
                    b  2.333680
2013-01-05 00:00:00 a -1.358255
                    b -1.156184
2013-01-05 12:00:00 a  0.162898
                    b  2.730758

In [101]:
a = [2,5,1,6]
b = [2,6,2,5]
price = pd.DataFrame({'A':a,'B':b})

In [102]:
c = [100,240,120,10]
d = [340,220,500,10]
volumn = pd.DataFrame({'A':c,'B':d})

In [103]:
price*volumn/(price*volumn).sum()

          A         B
0  0.126582  0.222951
1  0.759494  0.432787
2  0.075949  0.327869
3  0.037975  0.016393

In [110]:
i = [[0,0,0],
    [1.59904743, 1.66397210, 1.67345829],
                [-0.37065629, -0.36541822, -0.36015840],
                [-0.41055669, 0.60004777, 0.00536958]]

In [111]:
i = np.array(i).T
np.cov(i)

array([[ 0.89856076,  0.7205586 ,  0.8458721 ],
       [ 0.7205586 ,  0.78707297,  0.76450378],
       [ 0.8458721 ,  0.76450378,  0.83182775]])

In [112]:
i

array([[ 0.        ,  1.59904743, -0.37065629, -0.41055669],
       [ 0.        ,  1.6639721 , -0.36541822,  0.60004777],
       [ 0.        ,  1.67345829, -0.3601584 ,  0.00536958]])