In [1]:
import pandas as pd
import numpy as np

In [4]:
rng = pd.date_range('3/16/2018', periods=100,freq='H')

In [6]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [8]:
converted = ts.asfreq('45Min', method='pad')

In [10]:
ts.resample('D').mean()

2018-03-16   -0.210334
2018-03-17   -0.228195
2018-03-18   -0.038012
2018-03-19    0.418477
2018-03-20    1.173562
Freq: D, dtype: float64

In [30]:
pd.Timestamp('1690-9-1')
import datetime
pd.Period('1990-1-1','M')

Period('1990-01', 'M')

In [31]:
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')]
ts = pd.Series(np.random.randn(3),index=dates)

In [32]:
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [33]:
ts

2012-05-01    1.139190
2012-05-02   -0.010307
2012-05-03    0.827394
dtype: float64

In [34]:
periods = [pd.Period('2012-01'), pd.Period('2012-02'), pd.Period('2012-03')]
ts = pd.Series(np.random.randn(3),index=periods)

In [35]:
ts

2012-01   -0.149089
2012-02    0.641716
2012-03    0.003394
Freq: M, dtype: float64

In [36]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None,'2005/11/23', '2010.12.31']))

0   2009-07-31
1   2010-01-10
2          NaT
3   2005-11-23
4   2010-12-31
dtype: datetime64[ns]

In [37]:
pd.to_datetime('04-03-2016',dayfirst=True)

Timestamp('2016-03-04 00:00:00')

In [41]:
pd.to_datetime('2010/11/12',format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [45]:
pd.to_datetime(['2009/07/31', 'asd'],'coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

In [51]:
pd.to_datetime([1499720105, 1349806505, 1349892905,
                 1349979305, 1350065705], unit='ns')

DatetimeIndex(['1970-01-01 00:00:01.499720105',
               '1970-01-01 00:00:01.349806505',
               '1970-01-01 00:00:01.349892905',
               '1970-01-01 00:00:01.349979305',
               '1970-01-01 00:00:01.350065705'],
              dtype='datetime64[ns]', freq=None)

In [54]:
stamps = pd.date_range('2012-10-08 18:15:05', periods=4, freq='D')
(stamps - pd.Timestamp(1970/1/1))//pd.Timedelta('1s')

Int64Index([1349720104, 1349806504, 1349892904, 1349979304], dtype='int64')

In [59]:
pd.to_datetime([30, 35, 40], unit='D')

DatetimeIndex(['1970-01-31', '1970-02-05', '1970-02-10'], dtype='datetime64[ns]', freq=None)

In [60]:
from datetime import datetime

In [62]:
s = datetime(2018, 1, 1)
e = datetime(2019,1,1)

In [64]:
len(pd.bdate_range(s,e))

262

In [69]:
a = pd.bdate_range(s,periods=10,freq='W-TUE')

In [71]:
a

DatetimeIndex(['2018-01-02', '2018-01-09', '2018-01-16', '2018-01-23',
               '2018-01-30', '2018-02-06', '2018-02-13', '2018-02-20',
               '2018-02-27', '2018-03-06'],
              dtype='datetime64[ns]', freq='W-TUE')

In [74]:
s=pd.Series(np.random.randn(len(a)),index=a)

In [76]:
s['2018-01']

2018-01-02   -1.480679
2018-01-09    0.406662
2018-01-16    0.406202
2018-01-23   -0.725753
2018-01-30    0.791455
Freq: W-TUE, dtype: float64

In [81]:
s['2018-01':'2018-01']

2018-01-02   -1.480679
2018-01-09    0.406662
2018-01-16    0.406202
2018-01-23   -0.725753
2018-01-30    0.791455
Freq: W-TUE, dtype: float64

In [82]:
dft2 = pd.DataFrame(np.random.randn(20, 1),
                        columns=['A'],
                        index=pd.MultiIndex.from_product([pd.date_range('20130101',
                                                                        periods=10,
                                                                        freq='12H'),
                                                         ['a', 'b']]))

In [87]:
idx = pd.IndexSlice
dft2

                              A
2013-01-01 00:00:00 a  0.889763
                    b -0.028306
2013-01-01 12:00:00 a  0.549193
                    b -0.736226
2013-01-02 00:00:00 a  0.910082
                    b -0.100308
2013-01-02 12:00:00 a  1.852374
                    b  0.151423
2013-01-03 00:00:00 a  0.312479
                    b -1.863015
2013-01-03 12:00:00 a  0.316897
                    b  1.136179
2013-01-04 00:00:00 a -0.077225
                    b  0.789618
2013-01-04 12:00:00 a -0.669661
                    b  2.333680
2013-01-05 00:00:00 a -1.358255
                    b -1.156184
2013-01-05 12:00:00 a  0.162898
                    b  2.730758

In [95]:
dft2.loc[idx[:,'a'],['A']]

                              A
2013-01-01 00:00:00 a  0.889763
2013-01-01 12:00:00 a  0.549193
2013-01-02 00:00:00 a  0.910082
2013-01-02 12:00:00 a  1.852374
2013-01-03 00:00:00 a  0.312479
2013-01-03 12:00:00 a  0.316897
2013-01-04 00:00:00 a -0.077225
2013-01-04 12:00:00 a -0.669661
2013-01-05 00:00:00 a -1.358255
2013-01-05 12:00:00 a  0.162898

In [96]:
series_monthly = pd.Series([1, 2, 3],
                              pd.DatetimeIndex(['2011-12',
                                                '2012-01',
                                                '2012-02']))

In [97]:
series_monthly.index.resolution

'day'

In [100]:
dft2.shift(-2)

                              A
2013-01-01 00:00:00 a  0.549193
                    b -0.736226
2013-01-01 12:00:00 a  0.910082
                    b -0.100308
2013-01-02 00:00:00 a  1.852374
                    b  0.151423
2013-01-02 12:00:00 a  0.312479
                    b -1.863015
2013-01-03 00:00:00 a  0.316897
                    b  1.136179
2013-01-03 12:00:00 a -0.077225
                    b  0.789618
2013-01-04 00:00:00 a -0.669661
                    b  2.333680
2013-01-04 12:00:00 a -1.358255
                    b -1.156184
2013-01-05 00:00:00 a  0.162898
                    b  2.730758
2013-01-05 12:00:00 a       NaN
                    b       NaN

In [99]:
dft2

                              A
2013-01-01 00:00:00 a  0.889763
                    b -0.028306
2013-01-01 12:00:00 a  0.549193
                    b -0.736226
2013-01-02 00:00:00 a  0.910082
                    b -0.100308
2013-01-02 12:00:00 a  1.852374
                    b  0.151423
2013-01-03 00:00:00 a  0.312479
                    b -1.863015
2013-01-03 12:00:00 a  0.316897
                    b  1.136179
2013-01-04 00:00:00 a -0.077225
                    b  0.789618
2013-01-04 12:00:00 a -0.669661
                    b  2.333680
2013-01-05 00:00:00 a -1.358255
                    b -1.156184
2013-01-05 12:00:00 a  0.162898
                    b  2.730758

In [101]:
a = [2,5,1,6]
b = [2,6,2,5]
price = pd.DataFrame({'A':a,'B':b})

In [102]:
c = [100,240,120,10]
d = [340,220,500,10]
volumn = pd.DataFrame({'A':c,'B':d})

In [103]:
price*volumn/(price*volumn).sum()

          A         B
0  0.126582  0.222951
1  0.759494  0.432787
2  0.075949  0.327869
3  0.037975  0.016393

In [110]:
i = [[0,0,0],
    [1.59904743, 1.66397210, 1.67345829],
                [-0.37065629, -0.36541822, -0.36015840],
                [-0.41055669, 0.60004777, 0.00536958]]

In [111]:
i = np.array(i).T
np.cov(i)

array([[ 0.89856076,  0.7205586 ,  0.8458721 ],
       [ 0.7205586 ,  0.78707297,  0.76450378],
       [ 0.8458721 ,  0.76450378,  0.83182775]])

In [112]:
i

array([[ 0.        ,  1.59904743, -0.37065629, -0.41055669],
       [ 0.        ,  1.6639721 , -0.36541822,  0.60004777],
       [ 0.        ,  1.67345829, -0.3601584 ,  0.00536958]])

In [113]:
np.array([1,2,3]).sum()

6

In [114]:
rng2 = pd.date_range('2011-01-01', '2012-01-01', freq='W')

In [115]:
rng2

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15',
               '2011-05-22', '2011-05-29', '2011-06-05', '2011-06-12',
               '2011-06-19', '2011-06-26', '2011-07-03', '2011-07-10',
               '2011-07-17', '2011-07-24', '2011-07-31', '2011-08-07',
               '2011-08-14', '2011-08-21', '2011-08-28', '2011-09-04',
               '2011-09-11', '2011-09-18', '2011-09-25', '2011-10-02',
               '2011-10-09', '2011-10-16', '2011-10-23', '2011-10-30',
               '2011-11-06', '2011-11-13', '2011-11-20', '2011-11-27',
               '2011-12-04', '2011-12-11', '2011-12-18', '2011-12-25',
               '2012-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [116]:
ts2 = pd.Series(np.random.randn(len(rng2)), index=rng2)

In [118]:
ts2.truncate(before='2011-01',after='2011-02')

2011-01-02    0.834991
2011-01-09   -0.008855
2011-01-16   -2.411106
2011-01-23    0.646615
2011-01-30    2.508635
Freq: W-SUN, dtype: float64

In [119]:
ts2['2011-01':'2011-01']

2011-01-02    0.834991
2011-01-09   -0.008855
2011-01-16   -2.411106
2011-01-23    0.646615
2011-01-30    2.508635
Freq: W-SUN, dtype: float64

In [125]:
pd.Timestamp('2018-9-30').weekday_name

'Sunday'

In [126]:
pd.Timestamp('2018-9-30').dt

AttributeError: 'Timestamp' object has no attribute 'dt'

In [127]:
d = datetime(2008, 8, 18, 9, 0)

In [131]:
from dateutil.relativedelta import relativedelta
d+relativedelta(month=4,day=5)

datetime.datetime(2008, 4, 5, 9, 0)

In [132]:
from pandas.tseries.offsets import *

In [133]:
d+DateOffset(month=4,day=5)

Timestamp('2008-04-05 09:00:00')

In [135]:
BMonthEnd().rollforward(datetime(2018,8,12))

Timestamp('2018-08-31 00:00:00')

In [136]:
day = Day()
day.apply(datetime(2018,8,12))

Timestamp('2018-08-13 00:00:00')

In [138]:
d = datetime(2018,8,12,9,00)

In [140]:
d-Week()

Timestamp('2018-08-05 09:00:00')

In [141]:
d-Week(normalize=True)

Timestamp('2018-08-05 00:00:00')

In [149]:
rng2 + Minute(2)

DatetimeIndex(['2011-01-02 00:02:00', '2011-01-09 00:02:00',
               '2011-01-16 00:02:00', '2011-01-23 00:02:00',
               '2011-01-30 00:02:00', '2011-02-06 00:02:00',
               '2011-02-13 00:02:00', '2011-02-20 00:02:00',
               '2011-02-27 00:02:00', '2011-03-06 00:02:00',
               '2011-03-13 00:02:00', '2011-03-20 00:02:00',
               '2011-03-27 00:02:00', '2011-04-03 00:02:00',
               '2011-04-10 00:02:00', '2011-04-17 00:02:00',
               '2011-04-24 00:02:00', '2011-05-01 00:02:00',
               '2011-05-08 00:02:00', '2011-05-15 00:02:00',
               '2011-05-22 00:02:00', '2011-05-29 00:02:00',
               '2011-06-05 00:02:00', '2011-06-12 00:02:00',
               '2011-06-19 00:02:00', '2011-06-26 00:02:00',
               '2011-07-03 00:02:00', '2011-07-10 00:02:00',
               '2011-07-17 00:02:00', '2011-07-24 00:02:00',
               '2011-07-31 00:02:00', '2011-08-07 00:02:00',
               '2011-08-14 00:02:00', '2011-08-21 00:02:00',
               '2011-08-28 00:02:00', '2011-09-04 00:02:00',
               '2011-09-11 00:02:00', '2011-09-18 00:02:00',
               '2011-09-25 00:02:00', '2011-10-02 00:02:00',
               '2011-10-09 00:02:00', '2011-10-16 00:02:00',
               '2011-10-23 00:02:00', '2011-10-30 00:02:00',
               '2011-11-06 00:02:00', '2011-11-13 00:02:00',
               '2011-11-20 00:02:00', '2011-11-27 00:02:00',
               '2011-12-04 00:02:00', '2011-12-11 00:02:00',
               '2011-12-18 00:02:00', '2011-12-25 00:02:00',
               '2012-01-01 00:02:00'],
              dtype='datetime64[ns]', freq='W-SUN')

In [147]:
rng2-Day(2)

DatetimeIndex(['2010-12-31', '2011-01-07', '2011-01-14', '2011-01-21',
               '2011-01-28', '2011-02-04', '2011-02-11', '2011-02-18',
               '2011-02-25', '2011-03-04', '2011-03-11', '2011-03-18',
               '2011-03-25', '2011-04-01', '2011-04-08', '2011-04-15',
               '2011-04-22', '2011-04-29', '2011-05-06', '2011-05-13',
               '2011-05-20', '2011-05-27', '2011-06-03', '2011-06-10',
               '2011-06-17', '2011-06-24', '2011-07-01', '2011-07-08',
               '2011-07-15', '2011-07-22', '2011-07-29', '2011-08-05',
               '2011-08-12', '2011-08-19', '2011-08-26', '2011-09-02',
               '2011-09-09', '2011-09-16', '2011-09-23', '2011-09-30',
               '2011-10-07', '2011-10-14', '2011-10-21', '2011-10-28',
               '2011-11-04', '2011-11-11', '2011-11-18', '2011-11-25',
               '2011-12-02', '2011-12-09', '2011-12-16', '2011-12-23',
               '2011-12-30'],
              dtype='datetime64[ns]', freq='W-FRI')

In [150]:
weekmask_egypt = 'Sun Mon Tue Wed Thu'
holidays = ['2012-05-01', datetime(2013, 5, 1), np.datetime64('2014-05-01')]
bday_egypt = CustomBusinessDay(holidays=holidays, weekmask=weekmask_egypt)

In [151]:
dt = datetime(2013, 4, 30)
dt+2*bday_egypt

Timestamp('2013-05-05 00:00:00')

In [152]:
dts = pd.date_range('2013-04-29','2013-06-20',freq=bday_egypt)

In [153]:
dts

DatetimeIndex(['2013-04-29', '2013-04-30', '2013-05-02', '2013-05-05',
               '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
               '2013-05-12', '2013-05-13', '2013-05-14', '2013-05-15',
               '2013-05-16', '2013-05-19', '2013-05-20', '2013-05-21',
               '2013-05-22', '2013-05-23', '2013-05-26', '2013-05-27',
               '2013-05-28', '2013-05-29', '2013-05-30', '2013-06-02',
               '2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06',
               '2013-06-09', '2013-06-10', '2013-06-11', '2013-06-12',
               '2013-06-13', '2013-06-16', '2013-06-17', '2013-06-18',
               '2013-06-19', '2013-06-20'],
              dtype='datetime64[ns]', freq='C')

In [156]:
pd.Series(dts.weekday, dts).map(pd.Series('Mon Tue Wed Thu Fri Sat Sun'.split()))

2013-04-29    Mon
2013-04-30    Tue
2013-05-02    Thu
2013-05-05    Sun
2013-05-06    Mon
2013-05-07    Tue
2013-05-08    Wed
2013-05-09    Thu
2013-05-12    Sun
2013-05-13    Mon
2013-05-14    Tue
2013-05-15    Wed
2013-05-16    Thu
2013-05-19    Sun
2013-05-20    Mon
2013-05-21    Tue
2013-05-22    Wed
2013-05-23    Thu
2013-05-26    Sun
2013-05-27    Mon
2013-05-28    Tue
2013-05-29    Wed
2013-05-30    Thu
2013-06-02    Sun
2013-06-03    Mon
2013-06-04    Tue
2013-06-05    Wed
2013-06-06    Thu
2013-06-09    Sun
2013-06-10    Mon
2013-06-11    Tue
2013-06-12    Wed
2013-06-13    Thu
2013-06-16    Sun
2013-06-17    Mon
2013-06-18    Tue
2013-06-19    Wed
2013-06-20    Thu
Freq: C, dtype: object

In [158]:
pd.Series('Mon Tue Wed Thu Fri Sat Sun'.split())[0]

'Mon'

In [159]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [160]:
bday_us = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [163]:
type(USFederalHolidayCalendar())

pandas.tseries.holiday.USFederalHolidayCalendar

In [164]:
bh = BusinessHour()

In [165]:
pd.Timestamp('2014-08-01 17:00') + bh

Timestamp('2014-08-04 10:00:00')

In [166]:
class A():
    def __init__(self,a):
        self.a = a
        print('From Init')
    def __call__(tu,tut):
        print('From call')
a = A(12)

From Init

In [169]:
a(12)

From call