In [1]:
import pandas as pd
import numpy as np

In [4]:
rng = pd.date_range('3/16/2018', periods=100,freq='H')

In [6]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [8]:
converted = ts.asfreq('45Min', method='pad')

In [10]:
ts.resample('D').mean()

2018-03-16   -0.210334
2018-03-17   -0.228195
2018-03-18   -0.038012
2018-03-19    0.418477
2018-03-20    1.173562
Freq: D, dtype: float64

In [30]:
pd.Timestamp('1690-9-1')
import datetime
pd.Period('1990-1-1','M')

Period('1990-01', 'M')

In [31]:
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')]
ts = pd.Series(np.random.randn(3),index=dates)

In [32]:
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [33]:
ts

2012-05-01    1.139190
2012-05-02   -0.010307
2012-05-03    0.827394
dtype: float64

In [34]:
periods = [pd.Period('2012-01'), pd.Period('2012-02'), pd.Period('2012-03')]
ts = pd.Series(np.random.randn(3),index=periods)

In [35]:
ts

2012-01   -0.149089
2012-02    0.641716
2012-03    0.003394
Freq: M, dtype: float64

In [36]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None,'2005/11/23', '2010.12.31']))

0   2009-07-31
1   2010-01-10
2          NaT
3   2005-11-23
4   2010-12-31
dtype: datetime64[ns]

In [37]:
pd.to_datetime('04-03-2016',dayfirst=True)

Timestamp('2016-03-04 00:00:00')

In [41]:
pd.to_datetime('2010/11/12',format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [45]:
pd.to_datetime(['2009/07/31', 'asd'],'coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

In [51]:
pd.to_datetime([1499720105, 1349806505, 1349892905,
                 1349979305, 1350065705], unit='ns')

DatetimeIndex(['1970-01-01 00:00:01.499720105',
               '1970-01-01 00:00:01.349806505',
               '1970-01-01 00:00:01.349892905',
               '1970-01-01 00:00:01.349979305',
               '1970-01-01 00:00:01.350065705'],
              dtype='datetime64[ns]', freq=None)

In [54]:
stamps = pd.date_range('2012-10-08 18:15:05', periods=4, freq='D')
(stamps - pd.Timestamp(1970/1/1))//pd.Timedelta('1s')

Int64Index([1349720104, 1349806504, 1349892904, 1349979304], dtype='int64')

In [59]:
pd.to_datetime([30, 35, 40], unit='D')

DatetimeIndex(['1970-01-31', '1970-02-05', '1970-02-10'], dtype='datetime64[ns]', freq=None)

In [60]:
from datetime import datetime

In [62]:
s = datetime(2018, 1, 1)
e = datetime(2019,1,1)

In [64]:
len(pd.bdate_range(s,e))

262

In [69]:
a = pd.bdate_range(s,periods=10,freq='W-TUE')

In [71]:
a

DatetimeIndex(['2018-01-02', '2018-01-09', '2018-01-16', '2018-01-23',
               '2018-01-30', '2018-02-06', '2018-02-13', '2018-02-20',
               '2018-02-27', '2018-03-06'],
              dtype='datetime64[ns]', freq='W-TUE')

In [74]:
s=pd.Series(np.random.randn(len(a)),index=a)

In [76]:
s['2018-01']

2018-01-02   -1.480679
2018-01-09    0.406662
2018-01-16    0.406202
2018-01-23   -0.725753
2018-01-30    0.791455
Freq: W-TUE, dtype: float64

In [81]:
s['2018-01':'2018-01']

2018-01-02   -1.480679
2018-01-09    0.406662
2018-01-16    0.406202
2018-01-23   -0.725753
2018-01-30    0.791455
Freq: W-TUE, dtype: float64

In [82]:
dft2 = pd.DataFrame(np.random.randn(20, 1),
                        columns=['A'],
                        index=pd.MultiIndex.from_product([pd.date_range('20130101',
                                                                        periods=10,
                                                                        freq='12H'),
                                                         ['a', 'b']]))

In [87]:
idx = pd.IndexSlice
dft2

                              A
2013-01-01 00:00:00 a  0.889763
                    b -0.028306
2013-01-01 12:00:00 a  0.549193
                    b -0.736226
2013-01-02 00:00:00 a  0.910082
                    b -0.100308
2013-01-02 12:00:00 a  1.852374
                    b  0.151423
2013-01-03 00:00:00 a  0.312479
                    b -1.863015
2013-01-03 12:00:00 a  0.316897
                    b  1.136179
2013-01-04 00:00:00 a -0.077225
                    b  0.789618
2013-01-04 12:00:00 a -0.669661
                    b  2.333680
2013-01-05 00:00:00 a -1.358255
                    b -1.156184
2013-01-05 12:00:00 a  0.162898
                    b  2.730758

In [95]:
dft2.loc[idx[:,'a'],['A']]

                              A
2013-01-01 00:00:00 a  0.889763
2013-01-01 12:00:00 a  0.549193
2013-01-02 00:00:00 a  0.910082
2013-01-02 12:00:00 a  1.852374
2013-01-03 00:00:00 a  0.312479
2013-01-03 12:00:00 a  0.316897
2013-01-04 00:00:00 a -0.077225
2013-01-04 12:00:00 a -0.669661
2013-01-05 00:00:00 a -1.358255
2013-01-05 12:00:00 a  0.162898

In [96]:
series_monthly = pd.Series([1, 2, 3],
                              pd.DatetimeIndex(['2011-12',
                                                '2012-01',
                                                '2012-02']))

In [97]:
series_monthly.index.resolution

'day'

In [100]:
dft2.shift(-2)

                              A
2013-01-01 00:00:00 a  0.549193
                    b -0.736226
2013-01-01 12:00:00 a  0.910082
                    b -0.100308
2013-01-02 00:00:00 a  1.852374
                    b  0.151423
2013-01-02 12:00:00 a  0.312479
                    b -1.863015
2013-01-03 00:00:00 a  0.316897
                    b  1.136179
2013-01-03 12:00:00 a -0.077225
                    b  0.789618
2013-01-04 00:00:00 a -0.669661
                    b  2.333680
2013-01-04 12:00:00 a -1.358255
                    b -1.156184
2013-01-05 00:00:00 a  0.162898
                    b  2.730758
2013-01-05 12:00:00 a       NaN
                    b       NaN

In [99]:
dft2

                              A
2013-01-01 00:00:00 a  0.889763
                    b -0.028306
2013-01-01 12:00:00 a  0.549193
                    b -0.736226
2013-01-02 00:00:00 a  0.910082
                    b -0.100308
2013-01-02 12:00:00 a  1.852374
                    b  0.151423
2013-01-03 00:00:00 a  0.312479
                    b -1.863015
2013-01-03 12:00:00 a  0.316897
                    b  1.136179
2013-01-04 00:00:00 a -0.077225
                    b  0.789618
2013-01-04 12:00:00 a -0.669661
                    b  2.333680
2013-01-05 00:00:00 a -1.358255
                    b -1.156184
2013-01-05 12:00:00 a  0.162898
                    b  2.730758

In [101]:
a = [2,5,1,6]
b = [2,6,2,5]
price = pd.DataFrame({'A':a,'B':b})

In [102]:
c = [100,240,120,10]
d = [340,220,500,10]
volumn = pd.DataFrame({'A':c,'B':d})

In [103]:
price*volumn/(price*volumn).sum()

          A         B
0  0.126582  0.222951
1  0.759494  0.432787
2  0.075949  0.327869
3  0.037975  0.016393

In [110]:
i = [[0,0,0],
    [1.59904743, 1.66397210, 1.67345829],
                [-0.37065629, -0.36541822, -0.36015840],
                [-0.41055669, 0.60004777, 0.00536958]]

In [111]:
i = np.array(i).T
np.cov(i)

array([[ 0.89856076,  0.7205586 ,  0.8458721 ],
       [ 0.7205586 ,  0.78707297,  0.76450378],
       [ 0.8458721 ,  0.76450378,  0.83182775]])

In [112]:
i

array([[ 0.        ,  1.59904743, -0.37065629, -0.41055669],
       [ 0.        ,  1.6639721 , -0.36541822,  0.60004777],
       [ 0.        ,  1.67345829, -0.3601584 ,  0.00536958]])

In [113]:
np.array([1,2,3]).sum()

6

In [114]:
rng2 = pd.date_range('2011-01-01', '2012-01-01', freq='W')

In [115]:
rng2

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06', '2011-03-13', '2011-03-20',
               '2011-03-27', '2011-04-03', '2011-04-10', '2011-04-17',
               '2011-04-24', '2011-05-01', '2011-05-08', '2011-05-15',
               '2011-05-22', '2011-05-29', '2011-06-05', '2011-06-12',
               '2011-06-19', '2011-06-26', '2011-07-03', '2011-07-10',
               '2011-07-17', '2011-07-24', '2011-07-31', '2011-08-07',
               '2011-08-14', '2011-08-21', '2011-08-28', '2011-09-04',
               '2011-09-11', '2011-09-18', '2011-09-25', '2011-10-02',
               '2011-10-09', '2011-10-16', '2011-10-23', '2011-10-30',
               '2011-11-06', '2011-11-13', '2011-11-20', '2011-11-27',
               '2011-12-04', '2011-12-11', '2011-12-18', '2011-12-25',
               '2012-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [116]:
ts2 = pd.Series(np.random.randn(len(rng2)), index=rng2)

In [118]:
ts2.truncate(before='2011-01',after='2011-02')

2011-01-02    0.834991
2011-01-09   -0.008855
2011-01-16   -2.411106
2011-01-23    0.646615
2011-01-30    2.508635
Freq: W-SUN, dtype: float64

In [119]:
ts2['2011-01':'2011-01']

2011-01-02    0.834991
2011-01-09   -0.008855
2011-01-16   -2.411106
2011-01-23    0.646615
2011-01-30    2.508635
Freq: W-SUN, dtype: float64

In [125]:
pd.Timestamp('2018-9-30').weekday_name

'Sunday'

In [126]:
pd.Timestamp('2018-9-30').dt

AttributeError: 'Timestamp' object has no attribute 'dt'

In [127]:
d = datetime(2008, 8, 18, 9, 0)

In [131]:
from dateutil.relativedelta import relativedelta
d+relativedelta(month=4,day=5)

datetime.datetime(2008, 4, 5, 9, 0)

In [132]:
from pandas.tseries.offsets import *

In [133]:
d+DateOffset(month=4,day=5)

Timestamp('2008-04-05 09:00:00')

In [135]:
BMonthEnd().rollforward(datetime(2018,8,12))

Timestamp('2018-08-31 00:00:00')

In [136]:
day = Day()
day.apply(datetime(2018,8,12))

Timestamp('2018-08-13 00:00:00')

In [138]:
d = datetime(2018,8,12,9,00)

In [140]:
d-Week()

Timestamp('2018-08-05 09:00:00')

In [141]:
d-Week(normalize=True)

Timestamp('2018-08-05 00:00:00')

In [149]:
rng2 + Minute(2)

DatetimeIndex(['2011-01-02 00:02:00', '2011-01-09 00:02:00',
               '2011-01-16 00:02:00', '2011-01-23 00:02:00',
               '2011-01-30 00:02:00', '2011-02-06 00:02:00',
               '2011-02-13 00:02:00', '2011-02-20 00:02:00',
               '2011-02-27 00:02:00', '2011-03-06 00:02:00',
               '2011-03-13 00:02:00', '2011-03-20 00:02:00',
               '2011-03-27 00:02:00', '2011-04-03 00:02:00',
               '2011-04-10 00:02:00', '2011-04-17 00:02:00',
               '2011-04-24 00:02:00', '2011-05-01 00:02:00',
               '2011-05-08 00:02:00', '2011-05-15 00:02:00',
               '2011-05-22 00:02:00', '2011-05-29 00:02:00',
               '2011-06-05 00:02:00', '2011-06-12 00:02:00',
               '2011-06-19 00:02:00', '2011-06-26 00:02:00',
               '2011-07-03 00:02:00', '2011-07-10 00:02:00',
               '2011-07-17 00:02:00', '2011-07-24 00:02:00',
               '2011-07-31 00:02:00', '2011-08-07 00:02:00',
               '2011-08-14 00:02:00', '2011-08-21 00:02:00',
               '2011-08-28 00:02:00', '2011-09-04 00:02:00',
               '2011-09-11 00:02:00', '2011-09-18 00:02:00',
               '2011-09-25 00:02:00', '2011-10-02 00:02:00',
               '2011-10-09 00:02:00', '2011-10-16 00:02:00',
               '2011-10-23 00:02:00', '2011-10-30 00:02:00',
               '2011-11-06 00:02:00', '2011-11-13 00:02:00',
               '2011-11-20 00:02:00', '2011-11-27 00:02:00',
               '2011-12-04 00:02:00', '2011-12-11 00:02:00',
               '2011-12-18 00:02:00', '2011-12-25 00:02:00',
               '2012-01-01 00:02:00'],
              dtype='datetime64[ns]', freq='W-SUN')

In [147]:
rng2-Day(2)

DatetimeIndex(['2010-12-31', '2011-01-07', '2011-01-14', '2011-01-21',
               '2011-01-28', '2011-02-04', '2011-02-11', '2011-02-18',
               '2011-02-25', '2011-03-04', '2011-03-11', '2011-03-18',
               '2011-03-25', '2011-04-01', '2011-04-08', '2011-04-15',
               '2011-04-22', '2011-04-29', '2011-05-06', '2011-05-13',
               '2011-05-20', '2011-05-27', '2011-06-03', '2011-06-10',
               '2011-06-17', '2011-06-24', '2011-07-01', '2011-07-08',
               '2011-07-15', '2011-07-22', '2011-07-29', '2011-08-05',
               '2011-08-12', '2011-08-19', '2011-08-26', '2011-09-02',
               '2011-09-09', '2011-09-16', '2011-09-23', '2011-09-30',
               '2011-10-07', '2011-10-14', '2011-10-21', '2011-10-28',
               '2011-11-04', '2011-11-11', '2011-11-18', '2011-11-25',
               '2011-12-02', '2011-12-09', '2011-12-16', '2011-12-23',
               '2011-12-30'],
              dtype='datetime64[ns]', freq='W-FRI')

In [150]:
weekmask_egypt = 'Sun Mon Tue Wed Thu'
holidays = ['2012-05-01', datetime(2013, 5, 1), np.datetime64('2014-05-01')]
bday_egypt = CustomBusinessDay(holidays=holidays, weekmask=weekmask_egypt)

In [151]:
dt = datetime(2013, 4, 30)
dt+2*bday_egypt

Timestamp('2013-05-05 00:00:00')

In [152]:
dts = pd.date_range('2013-04-29','2013-06-20',freq=bday_egypt)

In [153]:
dts

DatetimeIndex(['2013-04-29', '2013-04-30', '2013-05-02', '2013-05-05',
               '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
               '2013-05-12', '2013-05-13', '2013-05-14', '2013-05-15',
               '2013-05-16', '2013-05-19', '2013-05-20', '2013-05-21',
               '2013-05-22', '2013-05-23', '2013-05-26', '2013-05-27',
               '2013-05-28', '2013-05-29', '2013-05-30', '2013-06-02',
               '2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06',
               '2013-06-09', '2013-06-10', '2013-06-11', '2013-06-12',
               '2013-06-13', '2013-06-16', '2013-06-17', '2013-06-18',
               '2013-06-19', '2013-06-20'],
              dtype='datetime64[ns]', freq='C')

In [156]:
pd.Series(dts.weekday, dts).map(pd.Series('Mon Tue Wed Thu Fri Sat Sun'.split()))

2013-04-29    Mon
2013-04-30    Tue
2013-05-02    Thu
2013-05-05    Sun
2013-05-06    Mon
2013-05-07    Tue
2013-05-08    Wed
2013-05-09    Thu
2013-05-12    Sun
2013-05-13    Mon
2013-05-14    Tue
2013-05-15    Wed
2013-05-16    Thu
2013-05-19    Sun
2013-05-20    Mon
2013-05-21    Tue
2013-05-22    Wed
2013-05-23    Thu
2013-05-26    Sun
2013-05-27    Mon
2013-05-28    Tue
2013-05-29    Wed
2013-05-30    Thu
2013-06-02    Sun
2013-06-03    Mon
2013-06-04    Tue
2013-06-05    Wed
2013-06-06    Thu
2013-06-09    Sun
2013-06-10    Mon
2013-06-11    Tue
2013-06-12    Wed
2013-06-13    Thu
2013-06-16    Sun
2013-06-17    Mon
2013-06-18    Tue
2013-06-19    Wed
2013-06-20    Thu
Freq: C, dtype: object

In [158]:
pd.Series('Mon Tue Wed Thu Fri Sat Sun'.split())[0]

'Mon'

In [159]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [160]:
bday_us = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [163]:
type(USFederalHolidayCalendar())

pandas.tseries.holiday.USFederalHolidayCalendar

In [164]:
bh = BusinessHour()

In [165]:
pd.Timestamp('2014-08-01 17:00') + bh

Timestamp('2014-08-04 10:00:00')

In [166]:
class A():
    def __init__(self,a):
        self.a = a
        print('From Init')
    def __call__(tu,tut):
        print('From call')
a = A(12)

From Init

In [169]:
a(12)

From call

In [174]:
pd.date_range("2012-2-1", periods=5, freq=BDay())

DatetimeIndex(['2012-02-01', '2012-02-02', '2012-02-03', '2012-02-06',
               '2012-02-07'],
              dtype='datetime64[ns]', freq='B')

In [181]:
pd.date_range("2012-2-1", periods=5, freq='1s')

DatetimeIndex(['2012-02-01 00:00:00', '2012-02-01 00:00:01',
               '2012-02-01 00:00:02', '2012-02-01 00:00:03',
               '2012-02-01 00:00:04'],
              dtype='datetime64[ns]', freq='S')

In [186]:
pd.Timestamp('2014-01-02') + MonthEnd(n=1)

Timestamp('2014-01-31 00:00:00')

In [187]:
ts

2012-01   -0.149089
2012-02    0.641716
2012-03    0.003394
Freq: M, dtype: float64

In [194]:
ts.shift(1,freq='M')

2012-02   -0.149089
2012-03    0.641716
2012-04    0.003394
Freq: M, dtype: float64

In [192]:
ts

2012-01   -0.149089
2012-02    0.641716
2012-03    0.003394
Freq: M, dtype: float64

In [203]:
dr = pd.date_range('1/1/2010', periods=30, freq='D')

In [205]:
ts = pd.Series(np.random.randn(30), index=dr)

In [206]:
ts

2010-01-01   -0.274727
2010-01-02    0.796968
2010-01-03   -0.610162
2010-01-04    1.592418
2010-01-05    0.739320
2010-01-06   -1.114382
2010-01-07   -0.278158
2010-01-08    1.298397
2010-01-09    2.052456
2010-01-10   -1.020037
2010-01-11    0.255859
2010-01-12   -0.331137
2010-01-13   -0.356881
2010-01-14   -0.361835
2010-01-15    0.535246
2010-01-16   -0.509774
2010-01-17   -0.367470
2010-01-18    0.793830
2010-01-19    2.253958
2010-01-20    1.498041
2010-01-21   -0.549394
2010-01-22    0.108090
2010-01-23    0.035668
2010-01-24    0.677392
2010-01-25   -0.889687
2010-01-26    0.478938
2010-01-27   -1.497256
2010-01-28   -0.110989
2010-01-29    0.044419
2010-01-30   -0.052814
Freq: D, dtype: float64

In [207]:
ts.asfreq('W')

2010-01-03   -0.610162
2010-01-10   -1.020037
2010-01-17   -0.367470
2010-01-24    0.677392
Freq: W-SUN, dtype: float64

In [211]:
ts.index.to_pydatetime()

array([datetime.datetime(2010, 1, 1, 0, 0),
       datetime.datetime(2010, 1, 2, 0, 0),
       datetime.datetime(2010, 1, 3, 0, 0),
       datetime.datetime(2010, 1, 4, 0, 0),
       datetime.datetime(2010, 1, 5, 0, 0),
       datetime.datetime(2010, 1, 6, 0, 0),
       datetime.datetime(2010, 1, 7, 0, 0),
       datetime.datetime(2010, 1, 8, 0, 0),
       datetime.datetime(2010, 1, 9, 0, 0),
       datetime.datetime(2010, 1, 10, 0, 0),
       datetime.datetime(2010, 1, 11, 0, 0),
       datetime.datetime(2010, 1, 12, 0, 0),
       datetime.datetime(2010, 1, 13, 0, 0),
       datetime.datetime(2010, 1, 14, 0, 0),
       datetime.datetime(2010, 1, 15, 0, 0),
       datetime.datetime(2010, 1, 16, 0, 0),
       datetime.datetime(2010, 1, 17, 0, 0),
       datetime.datetime(2010, 1, 18, 0, 0),
       datetime.datetime(2010, 1, 19, 0, 0),
       datetime.datetime(2010, 1, 20, 0, 0),
       datetime.datetime(2010, 1, 21, 0, 0),
       datetime.datetime(2010, 1, 22, 0, 0),
       datetime.datetime(2010, 1, 23, 0, 0),
       datetime.datetime(2010, 1, 24, 0, 0),
       datetime.datetime(2010, 1, 25, 0, 0),
       datetime.datetime(2010, 1, 26, 0, 0),
       datetime.datetime(2010, 1, 27, 0, 0),
       datetime.datetime(2010, 1, 28, 0, 0),
       datetime.datetime(2010, 1, 29, 0, 0),
       datetime.datetime(2010, 1, 30, 0, 0)], dtype=object)

In [214]:
ts.resample('W').max()

2010-01-03    0.796968
2010-01-10    2.052456
2010-01-17    0.535246
2010-01-24    2.253958
2010-01-31    0.478938
Freq: W-SUN, dtype: float64

In [215]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    341
2012-01-01 00:00:01    346
2012-01-01 00:00:02    466
2012-01-01 00:00:03    320
2012-01-01 00:00:04    288
2012-01-01 00:00:05     69
2012-01-01 00:00:06    195
2012-01-01 00:00:07     94
2012-01-01 00:00:08    160
2012-01-01 00:00:09    391
2012-01-01 00:00:10    165
2012-01-01 00:00:11    356
2012-01-01 00:00:12    147
2012-01-01 00:00:13    425
2012-01-01 00:00:14    169
2012-01-01 00:00:15     59
2012-01-01 00:00:16    159
2012-01-01 00:00:17    443
2012-01-01 00:00:18    450
2012-01-01 00:00:19      8
2012-01-01 00:00:20     40
2012-01-01 00:00:21      9
2012-01-01 00:00:22    390
2012-01-01 00:00:23    173
2012-01-01 00:00:24    274
2012-01-01 00:00:25    486
2012-01-01 00:00:26    481
2012-01-01 00:00:27    351
2012-01-01 00:00:28    443
2012-01-01 00:00:29    337
                      ...
2012-01-01 00:01:10    344
2012-01-01 00:01:11    160
2012-01-01 00:01:12     93
2012-01-01 00:01:13    186
2012-01-01 00:01:14     99
2012-01-01 00:01:15    424
2012-01-01 00:01:16     29
2012-01-01 00:01:17    486
2012-01-01 00:01:18    427
2012-01-01 00:01:19    236
2012-01-01 00:01:20      2
2012-01-01 00:01:21     93
2012-01-01 00:01:22     47
2012-01-01 00:01:23      1
2012-01-01 00:01:24    483
2012-01-01 00:01:25    204
2012-01-01 00:01:26    402
2012-01-01 00:01:27     15
2012-01-01 00:01:28    261
2012-01-01 00:01:29    386
2012-01-01 00:01:30    311
2012-01-01 00:01:31     88
2012-01-01 00:01:32    104
2012-01-01 00:01:33    457
2012-01-01 00:01:34     79
2012-01-01 00:01:35    239
2012-01-01 00:01:36     81
2012-01-01 00:01:37     78
2012-01-01 00:01:38    329
2012-01-01 00:01:39    485
Freq: S, Length: 100, dtype: int64

In [221]:
ts.resample('5Min', closed='right').mean()

2011-12-31 23:55:00    341.000000
2012-01-01 00:00:00    248.030303
Freq: 5T, dtype: float64

In [219]:
ts.mean()

248.96000000000001

In [222]:
df = pd.DataFrame(np.random.randn(1000, 3),
                      index=pd.date_range('1/1/2012', freq='S', periods=1000),
                      columns=['A', 'B', 'C'])

In [223]:
r = df.resample('3T')
r.mean()

                            A         B         C
2012-01-01 00:00:00 -0.058262 -0.003812  0.111957
2012-01-01 00:03:00 -0.055682 -0.072728  0.006923
2012-01-01 00:06:00  0.176386 -0.010599 -0.059948
2012-01-01 00:09:00  0.041583 -0.056557 -0.037454
2012-01-01 00:12:00  0.100586  0.092796  0.092118
2012-01-01 00:15:00  0.130789 -0.052180  0.001288

In [224]:
r.agg({'A' : ['sum','std'], 'B' : ['mean','std'] })

                             A                   B
                           sum       std      mean       std
2012-01-01 00:00:00 -10.487171  0.912054 -0.003812  1.038650
2012-01-01 00:03:00 -10.022772  0.925135 -0.072728  1.027801
2012-01-01 00:06:00  31.749433  0.958148 -0.010599  0.949342
2012-01-01 00:09:00   7.485012  1.059239 -0.056557  1.020964
2012-01-01 00:12:00  18.105485  1.055798  0.092796  1.056822
2012-01-01 00:15:00  13.078916  0.992289 -0.052180  0.980230

In [227]:

p = pd.Period('2014-07-01 09:00', freq='H')
p + np.timedelta64(7200, 's')

Period('2014-07-01 11:00', 'H')

In [228]:
pd.Period('2012',freq='y')-pd.Period('2002',freq='y')

10

In [230]:
pd.period_range('2012','2022',freq='y')

PeriodIndex(['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
             '2020', '2021', '2022'],
            dtype='period[A-DEC]', freq='A-DEC')

In [234]:
pi = pd.PeriodIndex(['2012','2013','2014'],freq='y')

In [236]:
pi.astype('period[D]')

PeriodIndex(['2012-12-31', '2013-12-31', '2014-12-31'], dtype='period[D]', freq='D')

In [237]:
dti = pd.date_range('2011-01-01', freq='M', periods=3)

In [239]:
dti.astype('period[M]')

PeriodIndex(['2011-01', '2011-02', '2011-03'], dtype='period[M]', freq='M')

In [240]:
p = pd.Period('2011', freq='A-DEC')
p.asfreq('M', how='start')

Period('2011-01', 'M')

In [241]:
p.asfreq('M', 'e')

Period('2011-12', 'M')

In [242]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [243]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [244]:
ts

1990Q1   -1.355598
1990Q2    0.287019
1990Q3    0.271443
1990Q4   -0.589613
1991Q1   -0.200817
1991Q2   -0.088707
1991Q3   -0.492310
1991Q4    0.566624
1992Q1   -0.686237
1992Q2    0.494465
1992Q3   -0.337784
1992Q4   -1.845003
1993Q1   -0.507052
1993Q2   -0.205022
1993Q3   -0.612128
1993Q4    0.911695
1994Q1   -0.587285
1994Q2    0.091351
1994Q3   -0.265588
1994Q4   -0.928438
1995Q1   -1.872174
1995Q2   -0.508108
1995Q3    0.149628
1995Q4    0.226445
1996Q1    1.792845
1996Q2   -0.313948
1996Q3   -0.844095
1996Q4   -1.200576
1997Q1   -1.491122
1997Q2   -0.017032
1997Q3    2.209340
1997Q4   -1.288961
1998Q1    0.593673
1998Q2   -0.843937
1998Q3   -1.712979
1998Q4   -0.288111
1999Q1    1.036746
1999Q2    0.786549
1999Q3    0.428259
1999Q4   -0.177612
2000Q1   -1.508315
2000Q2   -0.108701
2000Q3   -0.285824
2000Q4   -0.857590
Freq: Q-NOV, dtype: float64

In [246]:
(prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

PeriodIndex(['1990-03-01 09:00', '1990-06-01 09:00', '1990-09-01 09:00',
             '1990-12-01 09:00', '1991-03-01 09:00', '1991-06-01 09:00',
             '1991-09-01 09:00', '1991-12-01 09:00', '1992-03-01 09:00',
             '1992-06-01 09:00', '1992-09-01 09:00', '1992-12-01 09:00',
             '1993-03-01 09:00', '1993-06-01 09:00', '1993-09-01 09:00',
             '1993-12-01 09:00', '1994-03-01 09:00', '1994-06-01 09:00',
             '1994-09-01 09:00', '1994-12-01 09:00', '1995-03-01 09:00',
             '1995-06-01 09:00', '1995-09-01 09:00', '1995-12-01 09:00',
             '1996-03-01 09:00', '1996-06-01 09:00', '1996-09-01 09:00',
             '1996-12-01 09:00', '1997-03-01 09:00', '1997-06-01 09:00',
             '1997-09-01 09:00', '1997-12-01 09:00', '1998-03-01 09:00',
             '1998-06-01 09:00', '1998-09-01 09:00', '1998-12-01 09:00',
             '1999-03-01 09:00', '1999-06-01 09:00', '1999-09-01 09:00',
             '1999-12-01 09:00', '2000-03-01 09:00', '2000-06-01 09:00',
             '2000-09-01 09:00', '2000-12-01 09:00'],
            dtype='period[H]', freq='H')

In [247]:
def conv(x):
     return pd.Period(year = x // 10000, month = x//100 % 100, day = x%100, freq='D')

In [250]:
s = pd.Series([20121231, 20141130, 99991231])
s.map(conv)

0   2012-12-31
1   2014-11-30
2   9999-12-31
dtype: object

In [254]:
rng_pytz = pd.date_range('3/6/2012 00:00', periods=10, freq='D',tz='UTC')

In [252]:
rng_pytz.tz

In [255]:
ts = pd.Series(np.random.randn(len(rng_pytz)), rng_pytz)

In [257]:
ts.tz_convert('UTC')

2012-03-06 00:00:00+00:00   -0.462740
2012-03-07 00:00:00+00:00    0.013612
2012-03-08 00:00:00+00:00    0.318002
2012-03-09 00:00:00+00:00    0.296285
2012-03-10 00:00:00+00:00    0.601752
2012-03-11 00:00:00+00:00    0.870732
2012-03-12 00:00:00+00:00   -1.426365
2012-03-13 00:00:00+00:00   -0.130085
2012-03-14 00:00:00+00:00   -0.325419
2012-03-15 00:00:00+00:00    0.537904
Freq: D, dtype: float64

In [259]:
ts.tz_convert('Asia/Shanghai')

2012-03-06 08:00:00+08:00   -0.462740
2012-03-07 08:00:00+08:00    0.013612
2012-03-08 08:00:00+08:00    0.318002
2012-03-09 08:00:00+08:00    0.296285
2012-03-10 08:00:00+08:00    0.601752
2012-03-11 08:00:00+08:00    0.870732
2012-03-12 08:00:00+08:00   -1.426365
2012-03-13 08:00:00+08:00   -0.130085
2012-03-14 08:00:00+08:00   -0.325419
2012-03-15 08:00:00+08:00    0.537904
Freq: D, dtype: float64

In [260]:
ts.tz_convert(None)

2012-03-06   -0.462740
2012-03-07    0.013612
2012-03-08    0.318002
2012-03-09    0.296285
2012-03-10    0.601752
2012-03-11    0.870732
2012-03-12   -1.426365
2012-03-13   -0.130085
2012-03-14   -0.325419
2012-03-15    0.537904
Freq: D, dtype: float64

In [261]:
pd.Series(pd.date_range('20130101',periods=3,tz='US/Eastern'))

0   2013-01-01 00:00:00-05:00
1   2013-01-02 00:00:00-05:00
2   2013-01-03 00:00:00-05:00
dtype: datetime64[ns, US/Eastern]

In [264]:
s_naive = pd.Series(pd.date_range('20130101',periods=3))

In [265]:
s_naive.dt

In [266]:
pd.Timedelta(1, unit='d')

Timedelta('1 days 00:00:00')

In [272]:
pd.__version__

'0.21.1'

In [274]:
s = [pd.Timedelta(days=i) for i in range(5)]

In [277]:
pd.DataFrame(s,index=pd.date_range('2018-9-20',periods=5,freq='D'))

                0
2018-09-20 0 days
2018-09-21 1 days
2018-09-22 2 days
2018-09-23 3 days
2018-09-24 4 days

In [279]:
dr = pd.date_range('2018-9-20',periods=5,freq='D')
y=dr-dr[0]
y

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)

In [282]:
s = pd.Series(np.random.randint(1,4,10))

In [286]:
s.idxmin()

0

In [293]:
dr

DatetimeIndex(['2018-09-20', '2018-09-21', '2018-09-22', '2018-09-23',
               '2018-09-24'],
              dtype='datetime64[ns]', freq='D')

In [294]:
pd.timedelta_range('1 days','5 days')

TimedeltaIndex(['1 days', '2 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq='D')

In [295]:
tdi = pd.TimedeltaIndex(['1 days', pd.NaT, '2 days'])
tdi.values

array([ 86400000000000,           'NaT', 172800000000000], dtype='timedelta64[ns]')

In [297]:
tdi.tolist()

[Timedelta('1 days 00:00:00'), NaT, Timedelta('2 days 00:00:00')]